<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abacicelal.supervpn_project">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="33" />

    <!-- Temel izinler -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Gelişmiş özellikler için (opsiyonel) -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:label="SuperVPN"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SuperVPN_Project"
        android:usesCleartextTraffic="true">

        <!-- Splash Activity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Diğer Aktiviteler -->
        <activity android:name=".MainActivity" />
        <activity android:name=".ServerSelectionActivity" />
        <activity android:name=".LanguageSelectionActivity" />
        <activity android:name=".PremiumActivity" />
        <activity android:name=".HelpSupportActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".SettingsActivity" />

        <!-- YENİ EKLENEN AKTİVİTELER -->
        <activity android:name=".AccountActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".AlwaysOnVpnActivity" />

        <!-- VPN Servis (ICS-OpenVPN için gerekli) -->
        <service
            android:name="de.blinkt.openvpn.core.OpenVPNService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <!-- ICS-OpenVPN Activities -->
         <activity
            android:name="de.blinkt.openvpn.LaunchVPN"
            android:label="@string/vpn_launch_title"
            android:excludeFromRecents="true"
            android:theme="@style/blinkt.translucent"
            android:taskAffinity=".LaunchVPN"
            android:autoRemoveFromRecents="true">
        </activity>

    </application>
</manifest>
